@inherits LayoutComponentBase

<PageTitle>Nick Martin | Portfolio</PageTitle>

<Navbar />

<main class="main-content">
    @Body
</main>

<style>
    .main-content {
        min-height: 100vh;
    }
</style>
