@using PersonalPortfiolo.Blazor.Models
@inject IConfiguration _configuration

@if (_settings is null)
{
    <p>
        <em>loading...</em>
    </p>
}
else if (_settings!.NavBarEnabled)
{
    <div class="top-row ps-3 navbar navbar-dark">
        <div class="container-fluid" style="margin-left:25%">
            <a class="navbar-brand" href="/">Portfolio</a>
        </div>
    </div>

    <nav class="flex-column">
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="about" Match="NavLinkMatch.All">
                <span class="oi oi-person" aria-hidden="true"></span> About Me
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="achievements" Match="NavLinkMatch.All">
                <span class="oi oi-book" aria-hidden="true"></span> Achievements
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="projects" Match="NavLinkMatch.All">
                <span class="oi oi-code" aria-hidden="true"></span> Programming Projects
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="contact" Match="NavLinkMatch.All">
                <span class="oi oi-envelope-closed" aria-hidden="true"></span> Contact Me
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" target="_blank" href="@_settings?.ResumeUri" Match="NavLinkMatch.All">
                <span class="oi oi-document" aria-hidden="true"></span> Resume
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" target="_blank" href="@_settings?.CoverLetterUri" Match="NavLinkMatch.All">
                <span class="oi oi-envelope-open" aria-hidden="true"></span> Cover Letter
            </NavLink>
        </div>
    </nav>
}

@code {
    private Settings? _settings;

    protected override Task OnInitializedAsync()
    {
        _settings = _configuration.GetSection(nameof(Settings)).Get<Settings>();

        if (_settings is null)
            throw new Exception($"{nameof(Settings)} failed to instantiate settings");

        return Task.CompletedTask;
    }

}