@page "/about"
@using PersonalPortfiolo.Blazor.Models
@inject IConfiguration _configuration;

@if (_isLoading)
{
    <p><em>loading...</em></p>
}
else
{
    <div class="about-section">
        <div class="row">
            <div class="column">
                <img class="card" src="/about-me.jfif" style="width:100%">
            </div>
            <div class="column">
                <div class="container" style="margin-left: 10vw">
                    <h1>About Me</h1>
                    <hr />
                    <p>Hi, I'm Nick Martin</p>
                    <p>This page is just to tell you a little bit about myself.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <div class="card">
                <img src="/about-student.jpg" style="width:100%">
                <div class="container">
                    <h2>Student</h2>
                    <p class="title">University of Louisville</p>
                    <p>Expected to graduate December, 2022</p>
                    <p>
                        Bachelor of Science in Business Administration in Computer and Information Systems Security,
                        with a concentration in Information Security.
                    </p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="/about-coop.jpg" style="width:100%">
                <div class="container">
                    <h2>Co-op</h2>
                    <p class="title">United Parcel Service</p>
                    <p>Worked on an Agile development team that maintained a critical application stack that facilitated regulatory compliance and job functions for +30,000 CDL UPS drivers.</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="/about-developer.jpg" style="width:100%">
                <div class="container">
                    <h2>Hobbiest Developer</h2>
                    <p class="title">Personal</p>
                    <p>
                        I love developing side-projects! I frequently build new applications to test out ideas or technology.
                    </p>
                    <p>
                        Check out my
                        <a href="projects">Programming Projects</a>!
                    </p>
                </div>
            </div>
        </div>
    </div>
}

<!--About Page-specific styling-->
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
    }

    html {
        box-sizing: border-box;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }

    .column {
        float: left;
        width: 33.3%;
        margin-bottom: 16px;
        padding: 0 8px;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin: 8px;
    }

    .about-section {
        padding: 50px;
        text-align: center;
        background-color: #474e5d;
        color: white;
    }

    .container {
        padding: 0 16px;
    }

        .container::after, .row::after {
            content: "";
            clear: both;
            display: table;
        }

    .title {
        color: grey;
    }

    .button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
    }

        .button:hover {
            background-color: #555;
        }
</style>

@code
{
    private bool _isLoading = true;
    private Settings? _settings;

    protected override Task OnInitializedAsync()
    {
        _settings = _configuration.GetSection(nameof(Settings)).Get<Settings>();

        if (_settings is null)
            throw new Exception($"{nameof(Settings)} failed to instantiate");

        _isLoading = false;

        return Task.CompletedTask;
    }
}