@page "/contact"
@using PersonalPortfiolo.Blazor.Models
@inject IConfiguration _configuration;

@if (_isLoading)
{
    <p><em>loading...</em></p>
}
else
{
    <div class="about-section">
        <h1>Contact Me</h1>
        <hr />
        <h3>Reach out to me on any of the below platforms</h3>
    </div>
    <div class="row">
        @foreach (var mainLayoutLink in _settings!.MainLayoutLinks!)
        {
            <div class="column" style="min-width: 10vw; max-width: 25vw;">
                <div class="card">
                    <div class="container">
                        @if (mainLayoutLink.ImageUri is not null)
                        {
                            <img src="@mainLayoutLink.ImageUri" style="width:100%">
                        }
                        <a href="@mainLayoutLink.Uri">
                            <h2>@mainLayoutLink.Title</h2>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code
{
    private bool _isLoading = true;
    private Settings? _settings;

    protected override Task OnInitializedAsync()
    {
        _settings = _configuration.GetSection(nameof(Settings)).Get<Settings>();

        if (_settings is null)
            throw new Exception($"{nameof(Settings)} failed to instantiate");

        _isLoading = false;

        return Task.CompletedTask;
    }
}