@page "/contact"
@using PersonalPortfiolo.Blazor.Models
@inject IConfiguration _configuration;

@if (_isLoading)
{
    <p><em>loading...</em></p>
}
else
{
    <h1>Contact Me</h1>
    <hr />

    <p>
        I check my messages! Reach out to me on any of the following platforms.
    </p>
    <ul>
        @foreach (var mainLayoutLink in _settings!.MainLayoutLinks!)
        {
            <li><a href="@mainLayoutLink.Uri">@mainLayoutLink.Title</a></li>
        }
    </ul>
}

@code
{
    private bool _isLoading = true;
    private Settings? _settings;

    protected override Task OnInitializedAsync()
    {
        _settings = _configuration.GetSection(nameof(Settings)).Get<Settings>();

        if (_settings is null)
            throw new Exception($"{nameof(Settings)} failed to instantiate");

        _isLoading = false;

        return Task.CompletedTask;
    }
}