@page "/"
@using PersonalPortfiolo.Blazor.Models

<div class="home-background" style="padding-top:10%">
    <h1 class="center-block home-text">Welcome.</h1>
    <h4 class="center-block home-text">Explore Nick Martin's Portfolio.</h4>
</div>
