@page "/"
@using PersonalPortfiolo.Blazor.Models

<div class="home-background" style="padding-top:10%">
    <h1 class="center-block home-text">Welcome!</h1>
    <h2 class="center-block home-text">Hi, I'm Nick Martin</h2>
</div>
