@page "/"
@using PersonalPortfiolo.Blazor.Models

<div class="home-background" style="padding-top:10%">
    <h1 class="center-block home-text">Welcome.</h1>
    <h4 class="center-block home-text">Explore Nick Martin's Portfolio.</h4>
    <div class="center card" style="margin-top:15vh !important; background:rgba(0,0,0,0.8)">
        <p class="home-text" style="font-size: larger">I am an avid learner and aspiring applications developer.</p>
        <p class="home-text" style="font-size: larger">Feel free to explore my website and learn about my <a href="about">experience</a>, <a href="achievements">achievements</a>, and <a href="projects">projects</a> along the way.</p>
    </div>
</div>
