@page "/projects"
@using PersonalPortfiolo.Blazor.Models
@inject IConfiguration _configuration;

@if (_isLoading)
{
    <p>
        <em>loading...</em>
    </p>
}
else
{
    <div class="about-section">
        <h1>Programming Projects</h1>
        <hr/>
        <p>Explore my GitHub Repos! I love to explore new technologies and build projects that test my abilities.</p>
    </div>

    <GitHubProfile ProfileUri="@_settings!.GitHubProfileUri" ProfileApiUri="@_settings!.GitHubProfileApiUri"/>
}

@code
{
    private bool _isLoading = true;
    private Settings? _settings;

    protected override Task OnInitializedAsync()
    {
        _settings = _configuration.GetSection(nameof(Settings)).Get<Settings>();

        if (_settings is null)
            throw new Exception($"{nameof(Settings)} failed to instantiate");

        _isLoading = false;

        return Task.CompletedTask;
    }
}